#left_indication {
    width: 26%;
    float: left;
    height: 95%;
    margin: 1%;
}


#left_indication table th, #left_indication table td {
    width:15%;
}
#left_indication table th:nth-child(2), #left_indication table td:nth-child(2) {
    width:14%;
}

#left_indication table th:first-child, #left_indication table td:first-child {
    width:30%;
}

#left_indication table th:last-child {
    width:3%;
}

#left_indication > table tbody tr {
    height: 30px;
}

#left_indication > table tbody {
    overflow-y: scroll;
}

#item_list {
    width: 100%;
    height: 100%;
    margin: 0;
}

#checkout_delivery {
    float: left;
    width: 67%;
    height: 90%;
    margin: 1%;
    padding: 1% 1%;
}

#checkout_delivery input[type="radio"] {
    display: none;
}


#checkout_delivery .option {
    color: #AAA;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #CCC;
    
    font-weight: bolder;
}

#checkout_delivery .checked {
    background-color: #009900;
    color: inherit;
}

#error_msg {
    border: 1px dashed #CC0000;
    display: none;
    width:94%;
    padding: 0.5% 3%;
    margin-top: 2%;
    background: #EDA8AA;
}

#error_msg > div {
    color: #cc0000;
    padding-bottom : 5px;
    padding-top : 5px;
}


#checkout_delivery_customer {
    height: 61%;
    margin-top: 2%;
    padding: 2% 2% 0 2%;
}

#checkout_delivery_customer table {
    padding: 0;
    margin: 0;
    width: 99%;
    height: 100%;
    overflow: hidden;
    border: 0;
}


#checkout_delivery_options {
    
}

#checkout_delivery_customer > table tbody {
    overflow-y: auto;
    border: 0;
}
#checkout_delivery_customer > table tbody tr{
   border-right: 0;
}

#checkout_delivery_customer > table tbody tr td{ 
   border-right: 0;
}

#checkout_delivery_customer > table tbody tr { 
    height: 50px;
}

#checkout_delivery_customer > table tbody tr:nth-child(3) { 
    height: 50px;
    vertical-align: bottom;
    text-align:left; font-size:20px; font-weight:bold;
}

#checkout_delivery_customer > table tbody tr td:first-child,
#checkout_delivery_customer > table tbody tr td:nth-child(3){ 
    width:20%;
}

#checkout_delivery_customer > table tbody tr:nth-child(2)  td:nth-child(1){ 
    width:7.5%;
}

#checkout_delivery_customer > table tbody tr:nth-child(2)  td:nth-child(2){ 
    text-align: left;
    padding-left: 5px;
}

#checkout_delivery_customer > table tbody tr td:nth-child(2),
#checkout_delivery_customer > table tbody tr td:nth-child(4){ 
    width:20%;
    text-align: left;
    padding-left: 5px;
}

#customer_address_line1, 
#customer_address_line2,
#customer_address_line3 {
    margin: 3px 0;
}

.error_field {
    border-color: #CC0000;
}

