@import "categoryBar.css";

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.centreText { text-align: center; }
.justifyText { text-align: justify; }
.justifyText:after { content: ""; display: inline-block; width: 100%; }

html, body { background: none #111; color: #333; border: 0; margin: 0; padding: 0; font: 14px sans-serif; }

.inline-block { display: inline-block; }
.widest { width: 100%; }
.table { display: table; }
.cell { display: table-cell; }
.col { display: table-column; }

header, content { background: none #ccc; }
.headbar { background: none #333; width: 100%; color: #ffffff; font-size: 12px; padding: 1em 0; }
.headbarInner { margin: 0 50px; }
.logoSearch { margin: 30px 50px; }
.logoSearch > .right { height: 20px; margin-top: 10px; }
#searchbox { border: 1px #999 solid; background: #eee; }
#searchbox > input[type=text] { border: none; background: none transparent; color: #555; font-size: 14px; }
#searchbox > button[type=submit] { width: 16px; height: 16px; margin: 0; padding: 0; background: url("../img/search.png") no-repeat no-repeat transparent; border: none; outline:none; color: transparent; box-shadow: none; }

header-extend { background: none #ccc; }

content { display: block; padding: 25px 50px; }

footer { display: block; border-top: 10px #333 solid; background: none #111; color: #777; padding: 50px; font-size: 12px; }

button, input[type=button] { padding: 5px; border-radius: 0; font: 1em sans-serif; font-weight: bold; background: linear-gradient(to bottom, #ccc, #999, #aaa, #bbb); color: #444; border: 1px #555 solid; outline:none; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
button.red, input[type=button].red { background: linear-gradient(to bottom, #c00, #900, #a00, #b00); color: #fff; border: 1px #900 solid; }
